<a href="https://colab.research.google.com/github/naranjitoct/beyondjupyter/blob/main/1_2_Opt_Dont_use_Loops_in_python_Guide_to_map_filter_reduce_accumulate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TLDR; For Loops are slow in python. Try to avoid them as much as possible.

Instead use `map`, `filter`, `reduce`.

Extracted and enhanced from https://medium.com/codex/3-most-effective-yet-underutilized-functions-in-python-d865ffaca0bb

# Map

Apply a function to each value of an iterable object (list, tuple, etc.).

In [19]:
input_list = [2, 3, 4, 5, 6]
#Creo otra lista para hacer pruebas
input_list2 = [7,8,8,15,5]

In [2]:
def square(x):
  return x*x

# Without lambda 
result = map(square, input_list)
print(list(result))

[4, 9, 16, 25, 36]

In [3]:
# Using lambda function 
result = map(lambda x: x*x, input_list)
print(list(result))

[4, 9, 16, 25, 36]

---
❗ Fuera de las prácticas

Buena explicación de los maps y distintas opciones:
https://docs.hektorprofe.net/python/funcionalidades-avanzadas/funcion-map/

Para filtros usa en función de crear una clase con métodos:
https://docs.hektorprofe.net/python/funcionalidades-avanzadas/funcion-filter/


---

In [27]:
#Con la lista 2 hago otra prueba lambda... FUNCIONA BIEN... de esta forma puedo concatenar varias variables.
result=map(lambda x,y:x+y,input_list,input_list2)
print(list(result))

[9, 11, 13, 15, 17]

# Filter

Filter out values from an iterable object (list, tuple, sets, etc.). with regards to a condition specified as a function which is passed as an argument to the filter function.

In [11]:
def less_than_5(x):
  if x < 5:
    return x 

# Without lambda 
result = filter(less_than_5, input_list)
print(list(result))

[2, 3, 4]

In [12]:
# Using lambda function 
result = filter(lambda x:x<5, input_list)
print(list(result))

[2, 3, 4]

In [13]:
# compare map and filter results: 
result = map(lambda x:x<5, input_list)
print(list(result))

[True, True, True, False, False]

In [20]:
##HAGO OTRA
result2=list(map(lambda y:y>2, input_list))
print(result2)

[False, True, True, True, True]

# Reduce

The idea behind Python’s `reduce()` is to take an existing function, apply it **cumulatively** to all the items in an iterable, and generate a single final value. Since `reduce()` is written in C, its internal loop can be faster than an explicit Python for loop.

`Reduce()` was originally a built-in python function, but was moved to `functools.reduce` in Python 3.x.

In [1]:
from functools import reduce

In [4]:
def addition(x,y):
  return x + y

# Without lambda 
result = reduce(addition, input_list)
print(result)

20

In [6]:
## ¿Cuál el la diferencia con SUM? .... NPI.... al menos en un vector parece igual
sum(input_list)

20

In [9]:
# Using lambda function 
result = reduce(lambda x,y:x+y, input_list)
print(result)

20

In [16]:
# Another example: compute the maximum or minimum value
# Using lambda function 
result = reduce(lambda x,y:x if x<y else y, input_list)
print(result)

1

# Accumulate

In [23]:
input_list

[2, 3, 4, 5, 6]

In [10]:
from itertools import accumulate

In [20]:
# by default accumulate performs the sum of the previous items
result = accumulate(input_list) 
print(list(result))

[2, 5, 9, 14, 20]

In [22]:
# using a given function for accumulation


def mymult(x,y):
  return x * y

result = accumulate(input_list, mymult)
print(list(result))

[2, 6, 24, 120, 720]

# Use with pandas.DataFrame

'map' is not a method of a DataFrame. but 'map' can be applied to each column, which is an iterable.

In [30]:
import pandas as pd

In [29]:
df = pd.DataFrame({'col1':[1,2,3,4,5], 'col2':[6,7,8,9,0]})
df

   col1  col2
0     1     6
1     2     7
2     3     8
3     4     9
4     5     0

In [31]:
df1 = df['col1'].map()
df1

TypeError: ignored

For dataframes, pandas has the 'applymap' method:

In [33]:
df2 = df.applymap(square)
df2

NameError: ignored

Other examples:

In [32]:
df3 = df['col2'].map({1:'a',0:'b'})
df3

0    NaN
1    NaN
2    NaN
3    NaN
4      b
Name: col2, dtype: object